<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpenBuffet - Vue JS</title>
</head>
<body>
  <div id = 'app'>

    <div v-if="screen == homeScreen">

      <input type="search" v-model="inputSearchBuffet" placeholder="Digite o nome do Buffet">

      <div v-if="buffets.length == 0 ">
        Não há nenhum buffet cadastrado no sistema
      </div>
  
      <ul>
        <li v-for="buffet in searchBuffets">
          <address>
            Buffet: {{buffet.trading_name}} <br>
            Cidade: {{buffet.city}} <br>
            Estado {{buffet.state}} <br>
            <button v-on:click="buffetDetails(buffet.id)">Detalhes</button>
          </address>
        </li>
      </ul>

    </div>

    <div v-if="screen == detailsScreen">

      <button v-on:click="changeView('homeScreen')">Tela Inicial</button> <br>

      <strong>Dados do Buffet:</strong> {{buffet.trading_name}} <br>
      <strong>Telefone:</strong> {{buffet.phone}} <br>
      <strong>E-mail:</strong> {{buffet.email}} <br>
      <strong>Endereço:</strong> {{buffet.public_place}}, {{buffet.address_number}}, {{buffet.neighborhood}}, {{buffet.city}} - {{buffet.state}} <br>
      <strong>CEP:</strong> {{buffet.zip}} <br>
      <strong>Formas de Pagamento aceitas:</strong> {{buffet.payment.join(', ')}} <br>
      <strong>Eventos Oferecidos:</strong>

      <ul>
        <li v-for="eventType in buffet.event_types">
          <strong>Nome do evento:</strong> {{eventType.name}} <br>
          <strong>Descrição:</strong> {{eventType.description}} <br>
          <strong>Menu:</strong> {{eventType.menu}} <br>
          <strong>Duração padrão:</strong> {{eventType.duration}} minutos <br>
          <strong>Quantidade mínima de pessoas:</strong> {{eventType.minimum_quantity}} <br>
          <strong>Quantidade máxima de pessoas:</strong> {{eventType.maximum_quantity}} <br>
          Serviço realizado <strong> {{eventType.insiderOutsider}} </strong> <br>

          <div v-if="eventType.decoration || eventType.valet || eventType.alcoholic_beverages">
            <strong>Serviços extras:</strong>
            <ul>
              <li v-if="eventType.decoration"> Decoração</li>
              <li v-if="eventType.valet"> Estacionamento/Valet</li>
              <li v-if="eventType.alcoholic_beverages"> Bebidas Alcoólicas</li>
            </ul>
          </div>

          <div v-if = "eventType.different_weekend">
              Preço em dias <strong>úteis</strong>: <br>
              <strong>Preço base:</strong> {{eventType.working_day_price.base_price}} <br>
              <strong>Valor da hora extra:</strong> {{eventType.working_day_price.overtime_rate}} <br>
              <strong>Preço por acrescimo de pessoa:</strong> {{eventType.working_day_price.price_per_person}} <br>
              Preço nos <strong>finais de semana:</strong> <br>
              <strong>Preço base:</strong> {{eventType.weekend_price.base_price}} <br>
              <strong>Valor da hora extra:</strong> {{eventType.weekend_price.overtime_rate}} <br>
              <strong>Preço por acrescimo de pessoa:</strong> {{eventType.weekend_price.price_per_person}}
          </div>

          <div v-else = "eventType.different_weekend">
            Preço em dias <strong>úteis</strong> e <strong>finais de semana:</strong> <br>
            <strong>Preço base:</strong> {{eventType.working_day_price.base_price}} <br>
            <strong>Valor da hora extra:</strong> {{eventType.working_day_price.overtime_rate}} <br>
            <strong>Preço por acrescimo de pessoa:</strong> {{eventType.working_day_price.price_per_person}} <br>
          </div>

          <h2>Verificar Disponibilidade</h2>

          <form id="test" v-on:submit.prevent.self = "consult">

            <label>
              Número de Participantes:
              <input id="amountOfPeople" type="number" placeholder="Quantidade de Pessoas" 
                     :min="eventType.minimum_quantity" :max="eventType.maximum_quantity" required>
            </label> <br>
  
            <label>
              Data do evento:
              <input id="date" type="date" placeholder="Quantidade de Pessoas" :min="getDate()" required>
            </label> <br>
  
            <label>
              Consultar Disponibilidade do Buffet para realizar o evento <br>
              <input type="submit" value="Consultar">
            </label>

            <input type="hidden" id="id" :value="eventType.id">
          </form>

          <div id = "result">

          </div>          

          <br> <br>
        </li>
        
      </ul>


    </div>


  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>